@model Stationery_Management_System.Models.users

@{
    ViewData["Title"] = "Addusers";
    Layout = "~/Views/Shared/Admin-layout.cshtml";
}

@* <h1>Addusers</h1>

<h4>users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Addusers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole" class="control-label"></label>
                <input asp-for="UserRole" class="form-control" />
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLimits" class="control-label"></label>
                <input asp-for="UserLimits" class="form-control" />
                <span asp-validation-for="UserLimits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Add_By" class="control-label"></label>
                <select asp-for="Add_By" class ="form-control" asp-items="ViewBag.Add_By"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 *@




<div class="content mt-3">
    <div class="page-header">
        <div class="page-title">
            <h4>User Management</h4>
            <h6>Add/Update User</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form asp-action="Addusers">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Name</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="UserEmail" class="control-label">Email</label>
                            <input asp-for="UserEmail" class="form-control" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="UserPhone" class="control-label">Phone</label>
                            <input asp-for="UserPhone" class="form-control" />
                            <span asp-validation-for="UserPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="UserPassword" class="control-label">Password</label>
                            <div class="pass-group">
                                <input asp-for="UserPassword" class="pass-input" />
                                <span asp-validation-for="UserRole" class="text-danger"></span>
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="UserRole" class="control-label">User Role</label>
                            <select asp-for="UserRole" class="form-control">
                                @* <option value="Manager">Manager</option>
                                <option value="Assistant Manager">Assistant Manager</option> *@
                                <option value="Engineer">Engineer</option>
                                <option value="Employee">Employee</option>
                            </select>
                            <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>

                    </div>
                   @*  <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="UserLimits" class="control-label"></label>
                            <input asp-for="UserLimits" class="form-control" />
                            <span asp-validation-for="UserLimits" class="text-danger"></span>
                        </div>
                    </div> *@

                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-submit me-2" />
                    <a href="@Url.Action("users","Assistant_Manager_")" class="btn btn-cancel">Cancel</a>

                </div>
            </form>
        </div>
    </div>

</div>